venv/*
__pycache__/
*.sqlite3
*.vscode
.idea/.gitignore
.idea/django_project.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
