{% load static %}

<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>She Spokes</title>
        <meta name="description" content="">
        <meta name="author" content="Maya Dominice">
        <link href="https://fonts.googleapis.com/css?family=Manjari&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <header>
            <div id="header-text">
                <a id="header-link" href="{% url 'news:index' %}">
                    <h1>She {Spoke}s <img width="50" height="50" src="https://img.icons8.com/dotty/80/bicycle-wheel.png" alt="bicycle-wheel"/></h1>
                </a>
            </div>
            <!-- include nav here -->
            {% include './nav.html' %}
        </header>

        <!-- content blocks here -->
        {% block content %}{% endblock %}
    </body>
    <footer><a href="https://icons8.com/icon/108250/bicycle-wheel">Bicycle Wheel icon by </a><a href="https://icons8.com">Icons8</a></footer>
</html>
