{% extends "base.html" %}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css'%}">
{% endblock %}

{% block content %}
<div id ="story-editing">
    {% if request.user.is_authenticated %}
        {% if request.user == story.author %}
            <a href= "{% url 'news:editStory' story.id %}">Edit Post</a>
            <a href= "{% url 'news:deleteStory' story.id %}">Delete Post</a>
        {% endif %}
        {% if request.user in story.favorites.all %}
            <a href= "{% url 'news:favoriteStory' story.id %}">Unfavorite</a>
        {% else %}
            <a href= "{% url 'news:favoriteStory' story.id %}">Favorite</a>
        {% endif %}
            
    {% endif %}
</div>
<div id="story-wrapper">
    <h2>{{ story.title }}</h2>
    <h4>{{ story.author }}</h4>
    <div id="story-content">
        {% if story.image_url == None %}
            <img src="{% static '/news/images/placeholder-' %}{{story.id}}.jpg">
        {% elif story.image_url != None %}
            <img src="{{story.image_url}}">
        {% else %}
            <img src="https://picsum.photos/600">
        {% endif %}
            {% comment %} <img src="{% static '/news/images/placeholder-5.jpg' %}"> {% endcomment %}
        {{ story.content|linebreaks }}
    </div>
</div>
{% endblock %}